h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px
}

h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px
}

p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px
}

ul
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px
}

ol
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#arduino-code
{
    background: gainsboro;
    font-family: monospace;
}